@import '../../styles.scss';

.c-slot {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    height: 100%;
}

.slot__quantity {
    color: #FFFFFF;
    opacity: 0.4;
    border: 1px solid $border-color;
    border-right: none;
    border-bottom: none;
    border-radius: 6px 0px 0px 0px;
    padding: 2px 4px;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}